html{
    scroll-behavior: smooth;
}

body{
    margin: 0%;
    padding: 0%;
    color: white;
    font-family: 'Libre Baskerville', serif;
}
.fondo{
    background-color: black;
}

.navbar-brand{
    font-family: 'Libre Baskerville', serif;
}
.nav-link{
    font-family: 'Libre Baskerville', serif; 
}



.footer-wrap{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-family: 'Libre Baskerville', serif; 
}