html{
    scroll-behavior: smooth;
}

body{
    margin: 0%;
    padding: 0%;
    color: white;
    font-family: 'Libre Baskerville', serif;
}
.fondo{
    background-color: black;
}

.navbar-brand{
    font-family: 'Libre Baskerville', serif;
}
.nav-link{
    font-family: 'Libre Baskerville', serif; 
}

.bg-color{
    color: white;
}

.letra{
    color: white;
}

.footer-wrap{
    display: flex;
    justify-content: right;
    align-items: center;
}